#menu{
  background-color: linen;
}

h4 {
  color: lightpink;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  
}

p4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

#bin {

  background-color: rgb(226, 145, 183);
}
h2 {
  color:rgb(107, 55, 105);
  text-align: center;
}
p2{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;

 }
 p5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
 }
 
 #kleurmodellen {
  background-color: darksalmon;
 }

h3{
  color:steelblue;
  text-align: center;
}

p3{
  font-family:"Times New Roman", Times, serif;
  font-size: 17px;
}


ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: pink;
  }
        
  li {
  float: left;
  }
        
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
        
  li a:hover {
  background-color: brown;
  }

   #compressie {
 background-color: rgb(145, 191, 226);
}
h1 {
  color:rgb(246, 211, 87);
  text-align: center;
  font-size: 30px;
}
p1{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;

 }
 p2{font-family: 'Times New Roman', Times, serif;
font-size: 17px;
}

#bestand {
  background-color: yellowgreen;
}
h7 {
  color:darkkhaki;
  text-align: center;
  font-size: 30px;
}
 p7{ 
  font-family: 'Times New Roman', Times, serif;
 font-size: 17px;
}
p8{font-family: 'Times New Roman', Times, serif;
font-size: 17px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: pink;
  color: white;
}