
body {
  background-color: linen;
}

h1 {
  color: lightpink;
  text-align: center;
  font-family: "Times New Roman", Times, serif
  
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

#bin {

  background-color: rgb(226, 145, 183);
}
h2 {
  color:azure;
  text-align: center;
}
p2{
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;

 }
 
 #kleurmodellen {
  background-color: darksalmon;
 }
h3{
  color:lightskyblue;
  text-align: center;
}
p3{
  font-family:"Times New Roman", Times, serif;
  font-size: 14px;
}