<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: slateblue;
}

h1 {
  color: lightpink;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 20px;
}
</style>
</head>
<body>

<h1> Kleurmodellen</h1>
<p> tekst</p>

</body>
</html>
